name: Deploy to Server

on:
  push:
    branches:
      - master   # 当 main 分支有更新时触发

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Copy files to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          source: "."
          target: "/opt/telegram-media-bot"

      - name: Restart service
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            cd /opt/telegram-media-bot
            source .venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
            sudo systemctl restart telegram-media-bot